a {
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
  text-decoration: none;
}
#logout-form button {
  padding: 0;
  margin: 0;
  text-decoration: none;
}